.intro {
  padding-left: 15px;
  height: 250px;
}

.spacer {
  height: 150px;
}

.spacer2 {
  height: 100px;
}

.home-ad{position:fixed;
  right:20px;top:200px;
border:1px solid #f2f2f2;
background:rgb(255,255,255);
border-radius:0;
z-index:9999;
}

.home-ad .close{float:right;color:#FFF;background:#6B6B6B;width:20px;height:20px;line-height:16px;display:inline-block;font-size:12px;font-weight:normal;text-align:center;text-decoration:none;text-shadow:none;margin-bottom:5px;}

.home-ad div #carbonads{padding:10px;max-width:150px;}

.home-ad div#carbonads a.carbon-img{display:inline-block;float:left;}

.home-ad div#carbonads .carbon-wrap:after{content:"";display:block;clear:both;}

.home-ad div#carbonads .carbon-text{font-size:12px;text-align:left;color:#333;display:block;padding-top:10px;padding-bottom:10px;clear:both;}

.home-ad div#carbonads .carbon-text:hover{text-decoration:none;}

.home-ad div#carbonads .carbon-poweredby{font-size:75%;color:#bebebe;}
/*.navbar-fixed-side-left {
  left: 0;
  height: 100%;
}

.navbar-fixed-side {
  position: fixed;
  border-width: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 200px;
  margin-bottom: 0;
  border: 0px solid transparent;
}

.navbar-fixed-side .navbar-toggle {
  float: none;
  margin: 0;
}
.navbar-fixed-side .nav > li > a {
  width: 100%;
  padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
  padding: 5px;
}
.navbar-fixed-side .dropdown-header {
  padding: 5px;
}
.navbar-fixed-side .navbar-nav {
  margin: 0;
}
.navbar-fixed-side .navbar-nav > li {
  float: none;
}
.navbar-fixed-side .navbar-nav > li > a {
  padding: 5px;
  line-height: 20px;
}
.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
}
.navbar-fixed-side .navbar-collapse {
  padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse {
  margin: 0;
}
.navbar-fixed-side .container .navbar-brand {
  margin: 0;
}
.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
}

.header {
  height: 50px;
}

#nav-links {
  background-color: #CC4A14;
  height: 100%;
  width: 150px;
  margin-left: 50px;
  padding-left: 25px;
  padding-top: 25px;
  }
 
.nav-pills li {
  display: block;
  width: 100px;
} 

.jumbotron {
  background-color: #EAE5E1;
  min-height: 1000px;
  margin-top: -40px;
  width: 100%;

}
 
.main {
  height: 600px;
  padding-right: 0px;
}

.jumbotron .row {
  text-align: center;
}*/