
body {
  font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fa .fa-github-square {
  width: 20px;
/*  margin-left: auto;
  margin-right: auto;*/
  padding-left: 200px;
}

.intro {
  padding-left: 15px;
  height: 250px;
}

.spacer {
  height: 150px;
}

.spacer2 {
  height: 100px;
}

.stripe {
  background: #9DAD7F;  
  height: 30px;
  width: 100%;
  display: inline;
}

.name h1 {
  font-size: 42px;
  font-weight: 400;
}

.name p {
  font-size: 18px;
  font-weight: 400;
}

.about {
  height: 800px;
}


